<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project 2 - KJAN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signUpForm/styles.css' %}">
    <link rel="icon" href="{% static 'signUpForm/assets/tab-icon.png' %}">
    
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'signUpForm/assets/kjan.png' %}" alt="logo" id="icon" href="{% url 'index' %}">
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'profile' pk=user.id %}" class="active" disabled>Profile</a>
            <a href="{% url 'indexUser' %}" >Home</a>
            
        </div>
    </header>  

    <br>

    <div id="loginForm">
        <h1> CHANGE PASSWORD </h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{field.label_tag}} <br>
                {{field}}
                {% if field.help_text %}
                    <small id="star">*</small>
                    <span id="helpText"> {{ field.help_text }} </span>
                {% endif %}
                {% for error in field.errors %}
                    <p id="error">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <br><br>
            <button type="submit">Change Password</button>
        </form>
    </div>

    <br>

    <footer>
        <p><b>This Django Project was made by Sammy Pantaleon-Hernandez, Nicolae Rusu, David Tran and Liliane Tran Le</b></p>
    </footer>
    
</body>
</html>