<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project 2 - KJAN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signUpForm/styles.css' %}">
    <link rel="icon" href="{% static 'signUpForm/assets/tab-icon.png' %}">
    
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'signUpForm/assets/kjan.png' %}" alt="logo" id="icon" href="{% url 'index' %}">
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'profile' pk=user.id %}" class="active" disabled>Profile</a>
            <a href="{% url 'indexUser' %}" >Home</a>
            
        </div>
    </header>  

    <br>

    <div id="loginForm">
        <h1> CHANGE PROFILE PICTURE </h1>
        {% if currentUser.avatar.url is not null %}
            <img src="{{currentUser.avatar.url}}" width=100 height=100>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        <br><br>
            <button type="submit">Update Profile Picture</button>
        </form>
    </div>

    <br>

    <footer>
        <p><b>This Django Project was made by Sammy Pantaleon-Hernandez, Nicolae Rusu, David Tran and Liliane Tran Le</b></p>
    </footer>
    
</body>
</html>