<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project 2 - KJAN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signUpForm/styles.css' %}">
    <link rel="icon" href="{% static 'signUpForm/assets/tab-icon.png' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'signUpForm/assets/kjan.png' %}" alt="logo" id="icon" href="{% url 'index' %}">
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'profile' pk=user.id %}" class="active" disabled>Profile</a>
            <a href="{% url 'indexUser' %}" >Home</a>
            
        </div>
    </header>  
    <h1> WELCOME TO KJAN!</h1>
    <div id="content">
        <br>
        <p> 
        Item has been added to checkout! Click on your profile to see your cart.
        </p>
        <br>
    </div>
    <footer>
        <p><b>This Django Project was made by Sammy Pantaleon-Hernandez, Nicolae Rusu, David Tran and Liliane Tran Le</b></p>
    </footer>
</body>
</html>