<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project 2 - KJAN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signUpForm/styles.css' %}">
    <link rel="icon" href="{% static 'signUpForm/assets/tab-icon.png' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'signUpForm/assets/kjan.png' %}" alt="logo" id="icon" href="{% url 'index' %}">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'profile' pk=user.id %}">Profile</a>
                <a href="{% url 'indexUser' %}" class="active">Home</a>
            {% else %}
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'index' %}" class="active">Home</a>
            {% endif %}            
        </div>
        
    </header>
    <h1> View Item</h1>
    <div id="content">
        <br>
        <p> 
            <div class="wrapper">
                <div class="product-img">
                {% if item.images.url is not null %}
                    <img src="{{item.images.url}}" alt="cool image" height="420" width="327">
                {% endif %}
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1>{{item.name}}</h1>
                        <p>{{item.description}}</p>
                    </div>
                    <div class="product-price-btn">
                        <p>{{item.price}}$</p>
                    </div>
                </div>
            </div>
            
            {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                  <p class="font-weight-bold">
                    {{ comment.author.username }}
                    <span class=" text-muted font-weight-normal">
                      {{ comment.comment_date }}
                    </span>
                  </p>
                  {{ comment.comment_text}}
                </div>
            {% endfor %}
        </p>
        <br>
        <div>
            <h3>Leave a comment</h3>
            <form method="POST" enctype="multipart/form-data" action="{% url 'addComment' pk=item.id %}" >
                {% csrf_token %}
                {{ form.as_p}}
                {% if user.is_authenticated %}
                    <button type="submit">Add Comment</button>
                {% else %}
                    <button type="submit" disabled>Add Comment</button>
                {% endif %}
            </form>    
        </div>
        <br>
    </div>
    <footer>
        <p><b>This Django Project was made by Sammy Pantaleon-Hernandez, Nicolae Rusu, David Tran and Liliane Tran Le</b></p>
    </footer>
</body>
</html>
