<div class="wrapper">
    <div class="product-img">
        {% if item.images.url is not null %}
            <img src="{{item.images.url}}" alt="cool image" height="420" width="327">
        {% endif %}
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>{{item.name}}</h1>
            <p>{{item.description}}</p>
        </div>
        <div class="product-price-btn">
            <p>{{item.price}}$</p>
            <form action="{% url 'commentView' pk=item.id %}" method="GET">
                <button type="Submit" name="Submit">View Comments</button>
            </form>
            <form action="{% url 'buyNow' %}" method="GET">
                <button type="Submit" name="Submit" value="{{ item.id }}">Buy Now</button>
            </form>
        </div>
    </div>
</div>
