<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project 2 - KJAN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signUpForm/styles.css' %}">
    <link rel="icon" href="{% static 'signUpForm/assets/tab-icon.png' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'signUpForm/assets/kjan.png' %}" alt="logo" id="icon" href="{% url 'index' %}">
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}" class="active">Login</a>
            <a href="{% url 'index' %}" >Home</a>
        </div>
        <h1> LOGIN </h1>
    </header>  


    <div id="loginForm">
        <p> To have access to more actions, please log in!</p>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <br><br>
            <button type="submit">Login</button>
        </form>
    </div>

    <br>

    <footer>
        <p><b>This Django Project was made by Sammy Pantaleon-Hernandez, Nicolae Rusu, David Tran and Liliane Tran Le</b></p>
    </footer>
</body>
</html>