<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project 2 - KJAN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signUpForm/styles.css' %}">
    <link rel="icon" href="{% static 'signUpForm/assets/tab-icon.png' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'signUpForm/assets/kjan.png' %}" alt="logo" id="icon" href="{% url 'index' %}">
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'index' %}">Home</a>
        </div>
        
    </header>
    <h1> WELCOME TO KJAN!</h1>
    <div id="content">
        <br>
        <p> 
            Please register or login to purchase the item.
        </p>
        <br>
    </div>
    <footer>
        <p><b>This Django Project was made by Sammy Pantaleon-Hernandez, Nicolae Rusu, David Tran and Liliane Tran Le</b></p>
    </footer>
</body>
</html>