<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project 2 - KJAN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signUpForm/styles.css' %}">
    <link rel="icon" href="{% static 'signUpForm/assets/tab-icon.png' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'signUpForm/assets/kjan.png' %}" alt="logo" id="icon" href="{% url 'index' %}">
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'profile' pk=user.id %}" class="active" disabled>Profile</a>
            <a href="{% url 'indexUser' %}" >Home</a>
            
        </div>
    </header>  

    <br>

    <div id="modifyForm">
        <p>Modify Item:</p>
        <form action="{% url 'modifyConfirm' %}" method="get">
        
            <label for="name">Name: </label>
            <input type="text" name="name" id="name"/>
            <br><br>
            <label for="images">images: </label>
            <input type="file" name="images" id="images"/>
            <br><br>
            <label for="price">price: </label>
            <input type="text" name="price" id="price"/>
            <br><br>
            <label for="description">description: </label>
            <input type="text" name="description" id="description"/>
            <br><br>
            <input type="hidden" name="modifyId" value="{{ item }}">
            <button type="submit" name="addButton" id="add">Modify Item</button>
        </form>
    </div>
    <br>

    <footer>
        <p><b>This Django Project was made by Sammy Pantaleon-Hernandez, Nicolae Rusu, David Tran and Liliane Tran Le</b></p>
    </footer>
</body>
</html>