<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project 2 - KJAN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signUpForm/styles.css' %}">
    <link rel="icon" href="{% static 'signUpForm/assets/tab-icon.png' %}">
    
    <style>
    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #3A99DA;
      background-color: #3A99DA;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #88c1e8;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #88c1e8;
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #3A99DA;
      border-top: none;
    }
    
    table{
     width: 100%;
     text-align: center;
    }
    
    tr, td{
     padding: 10px;
    }
    
    </style>
    
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'signUpForm/assets/kjan.png' %}" alt="logo" id="icon" href="{% url 'index' %}">
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'profile' pk=user.id %}" class="active" disabled>Profile</a>
            <a href="{% url 'indexUser' %}" >Home</a>
            
        </div>
    </header>  

    <br>

    <div id="profileForm">
        <h1> PROFILE </h1>
        <h4> Username: {{ currentUser.username }}
        <h4> First Name: {{ currentUser.first_name }}
        <h4> Last Name: {{ currentUser.last_name }}
        <h4> User ID: {{ currentUser.authlogged_id }}
        {% if currentUser.avatar.url is not null %}
            <img src="{{currentUser.avatar.url}}" width=100 height=100>
        {% endif %}
    </div>
    <div class="tab">
          <button class="tablinks" onclick="openTasks(event, 'Products')" id="defaultOpen">Products</button>
          <button class="tablinks" onclick="openTasks(event, 'Checkout')">Checkout</button>
          <button class="tablinks" onclick="openTasks(event, 'Settings')">Settings</button>
    </div>
        
    <div id="Products" class="tabcontent">
        <div id="content">
        <p> Items list:</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Images</th>
                <th>Price</th>
                <th>Description</th>
                <th>Modify</th>
                <th>Delete</th>
            </tr>
            {% for item in items %}
                {% include 'signUpForm/itemUser.html' %}
            {% endfor %}
        </table> 
    </div>
    
    <br>
    <div id="addItems">
        <p>Add Item:</p>
        <form action="{% url 'add' %}" method="get">
        
            <label for="name">Name: </label>
            <input type="text" name="name" id="name"/>
            <br><br>
            <label for="images">images: </label>
            <input type="file" name="images" id="images"/>
            <br><br>
            <label for="price">price: </label>
            <input type="number" name="price" id="price" min="1"/>
            <br><br>
            <label for="description">description: </label>
            <input type="text" name="description" id="description"/>
            <br><br>
            <input type="hidden" name="owner" id="owner" value="{{ currentUser.username }}">
            <button type="submit" name="addButton" id="add">Add Item</button>
        </form>
    </div>
    <br>
        </div>
    </div>
        
    <div id="Checkout" class="tabcontent">
       <div id="content">
        <p> Cart list:</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            {% for item in checkout_items %}
                {% include 'signUpForm/checkoutItem.html' %}
            {% endfor %}
        </table>
        <form action="{% url 'checkout' %}">
            <input type="hidden" name="checkoutId">
            <input type="submit" value="Checkout" name="checkoutButton" />
        </form> 
    </div>
    </div>        
    <div id="Settings" class="tabcontent">
          <h3>Settings</h3>
          <a href="{% url 'changePassword' %}"><h4>Change Password</h4></a>
          <a href="{% url 'changeAvatar' %}"><h4>Change Avatar</h4></a>
    </div>
        
    <script>
        function openTasks(evt, tasks) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace("active", "");
          }
          document.getElementById(tasks).style.display = "block";
          evt.currentTarget.className += "active";
        }
        document.getElementById("defaultOpen").click();
    </script>

    <br>

    <footer>
        <p><b>This Django Project was made by Sammy Pantaleon-Hernandez, Nicolae Rusu, David Tran and Liliane Tran Le</b></p>
    </footer>
    
</body>
</html>