<tr>
    <td>{{ item.getItem.name }}</td>
    <td>{{ item.getItem.images }}</td>
    <td>{{ item.getItem.price }}</td>
    <td>{{ item.getItem.description }}</td>
    <td>
        <form action="{% url 'deleteCheckout' %}">
            <input type="hidden" name="checkoutId" value="{{ item.id }}">
            <input type="submit" value="delete" name="deleteButton" />
        </form>
    </td>
<tr>