<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project 2 - KJAN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signUpForm/styles.css' %}">
    <link rel="icon" href="{% static 'signUpForm/assets/tab-icon.png' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'signUpForm/assets/kjan.png' %}" alt="logo" id="icon" href="{% url 'index' %}">
            <input id="searchbar" type="text" placeholder="Search items..">
            <button type="submit" class="searchButton">
                <svg viewBox="0 0 1024 1024">
                    <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
                    </path>
                </svg>
            </button>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'profile' pk=user.id %}">Profile</a>
                <a href="{% url 'indexUser' %}" class="active">Home</a>
            {% else %}
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'index' %}" class="active">Home</a>
            {% endif %}            
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'index' %}">Home</a>
        </div>
        
    </header>
    <h1> View Item</h1>
    <div id="content">
        <br>
        <p> 
            <div class="wrapper">
                <div class="product-img">
                    <img src="{{item.images.url}}" alt="cool image" height="420" width="327">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1>{{item.name}}</h1>
                        <p>{{item.description}}</p>
                    </div>
                    <div class="product-price-btn">
                        <p>{{item.price}}$</p>
                    </div>
                </div>
            </div>
            
            {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                  <p class="font-weight-bold">
                    {{ comment.author.username }}
                    <span class=" text-muted font-weight-normal">
                      {{ comment.comment_date }}
                    </span>
                  </p>
                  {{ comment.comment_text}}
                </div>
            {% endfor %}
        </p>
        <br>
        <div>
            <h3>Leave a comment</h3>
            <form method="POST" enctype="multipart/form-data" action="{% url 'addComment' pk=item.id %}" >
                {% csrf_token %}
                {{ form.as_p}}
                {% if user.is_authenticated %}
                    <button type="submit">Add Comment</button>
                {% else %}
                    <button type="submit" disabled>Add Comment</button>
                {% endif %}
            </form>    
        </div>
        <br>
    </div>
    <footer>
        <p><b>This Django Project was made by Sammy Pantaleon-Hernandez, Nicolae Rusu, David Tran and Liliane Tran Le</b></p>
    </footer>
</body>
</html>
