<tr>
    <td>{{ item.name }}</td>
    <td>{{ item.images }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.description }}</td>
    <td>
        <form action="{% url 'modify' %}">
            <input type="hidden" name="modifyId" value="{{ item.id }}">
            <input type="submit" value="modify" name="modifyButton" />
        </form>
    </td>
    <td>
        <form action="{% url 'delete' %}">
            <input type="hidden" name="deleteId" value="{{ item.id }}">
            <input type="submit" value="delete" name="deleteButton" />
        </form>
    </td>
</tr>