<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project 2 - KJAN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signUpForm/styles.css' %}">
    <link rel="icon" href="{% static 'signUpForm/assets/tab-icon.png' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'signUpForm/assets/kjan.png' %}" alt="logo" id="icon" href="{% url 'index' %}">
            <input id="searchbar" type="text" placeholder="Search items..">
            <button type="submit" class="searchButton">
                <svg viewBox="0 0 1024 1024">
                    <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
                    </path>
                </svg>
            </button>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'profile' pk=user.id %}" class="active">Profile</a>
            <a href="{% url 'indexUser' %}" >Home</a>
        </div>
    </header>  

    <br>

    <div id="modifyForm">
        <p>Modify Item:</p>
        <form action="{% url 'modifyConfirm' %}" method="get">
        
            <label for="name">Name: </label>
            <input type="text" name="name" id="name"/>
            <br><br>
            <label for="images">images: </label>
            <input type="file" name="images" id="images"/>
            <br><br>
            <label for="price">price: </label>
            <input type="text" name="price" id="price"/>
            <br><br>
            <label for="description">description: </label>
            <input type="text" name="description" id="description"/>
            <br><br>
            <input type="hidden" name="modifyId" value="{{ item }}">
            <button type="submit" name="addButton" id="add">Modify Item</button>
        </form>

    </div>
    <br>

    <footer>
        <p><b>This Django Project was made by Sammy Pantaleon-Hernandez, Nicolae Rusu, David Tran and Liliane Tran Le</b></p>
    </footer>
</body>
</html>