body{
  font-family: 'Noto Sans', sans-serif;
  background-color: #98BED7;
}

.navbar {
    overflow: hidden;
    background-color: #88c1e8;
    height: 46px;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover{
    background-color: #88c1e8;
    color: black;
  }
  
  .active {
    font-weight: bold;
    background-color: #3A99DA;
    color: black;
  }
  
  /* Style the search box inside the navigation bar */
  .navbar input[type=text] {
    float: left;
    border: none;
    margin: 8px;
    font-size: 17px;
    padding: 6px;
    margin-right: 0px;
  }
  
  #icon{
    float: left;
    padding: 5px;
    margin: 10px;
    width: 80px;
    height: 18px;

  }
  .searchButton {
    all: unset;
    cursor: pointer;
  }

  svg {
    background-color: #3A99DA;
    color: #000;
    padding: 7px;
    margin:8px;
    margin-left: 0px;
    align-items: center;
    width: 18px;
    height: 18px;
  }

  footer {
    background-color: #88c1e8;
    padding: 8px;
    text-align: center;
    position: fixed;
    width: 100%;
    color: #000;
  }

  #loginForm, #profile {
    text-align: center;
  }
