@font-face{
  font-family: 'Raleway', sans-serif;
  src:url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
}

body{
  font-family: 'Raleway', sans-serif;
  background-color: #98BED7;
}


.navbar {
  overflow: hidden;
  background-color: #88c1e8;
  position: relative;
  list-style-type: none;
}

  
.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background-color: #3A99DA;
    color: black;
    font-weight: 500;
}

.active {
    font-weight: 500;
    background-color: #3A99DA;
    color: black;
}

.navbar input[type=text] {
    float: left;
    border: none;
    margin: 8px;
    font-size: 17px;
    padding: 6px;
    margin-right: 0px;
}
  
#icon{
    float: left;
    padding: 5px;
    margin: 10px;
    width: 80px;
    height: 18px;
}

.searchButton {
    all: unset;
    cursor: pointer;
}

svg {
    background-color: #3A99DA;
    color: #000;
    padding: 7px;
    margin:8px;
    margin-left: 0px;
    align-items: center;
    width: 18px;
    height: 18px;
}

footer {
    background-color: #88c1e8;
    padding: 8px;
    text-align: center;
    width: 100%;
    color: #000;
    position:absolute;
}
 

#loginForm, h1 {
  text-align: center;
}

h1{
  font-size: 50px;
  font-weight: 500;
}
  

.wrapper {
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
}

.product-info {
  font-family: 'Raleway', sans-serif;
  float: left;
  height: 420px;
  width: 327px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 50px;
  font-size: 34px;
  text-align: center;
  font-weight: 500;
}

.product-text p {
  font-size: 15px;
  text-align: center;
  font-weight: 300;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  height: 40px;
  margin: 10px 0 0 30px;
  font-size: 28px;
}

.product-price-btn button {
  float: right;
  height: 50px;
  width: 140px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #3A99DA;
  cursor: pointer;
  outline: none;

}

.product-price-btn button:hover {
  background-color: #88c1e8;
}

#delete {
  float: right;
  height: 25px;
  width: 70px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #e6153e;
  cursor: pointer;
  outline: none;
}

#modify{
  float: right;
  height: 25px;
  width: 70px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #e6153e;
  cursor: pointer;
  outline: none;
}

#search {
  display: inline;
}