<div class="wrapper">
    <div class="product-img">
        <img src="http://bit.ly/2tMBBTd" height="420" width="327">
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>{{product.name}}</h1>
            <p>{{product.description}}</p>
        </div>
        <div class="product-price-btn">
            <p>{{product.price}}$</p>
            <button type="button">buy now</button>
        </div>
    </div>
</div>
<!-- <div id="footer">
    <footer>
        <p><b>This Django Project was made by Sammy Pantaleon-Hernandez, Nicolae Rusu, David Tran and Liliane Tran Le</b></p>
    </footer>
</div> -->
