<tr>
    <td>{{ product.name }}</td>
    <td>{{ product.images }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.description }}</td>
    <td>
        <form action="{% url 'modify' %}">
            <input type="hidden" name="modifyId" value="{{ product.id }}">
            <input type="submit" value="modify" name="modifyButton" />
        </form>
    </td>
    <td>
        <form action="{% url 'delete' %}">
            <input type="hidden" name="deleteId" value="{{ product.id }}">
            <input type="submit" value="delete" name="deleteButton" />
        </form>
    </td>
</tr>