<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project 2 - KJAN</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'assets/tab-icon.png' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="assets/logo.png" alt="logo" id="icon">
            <input id="searchbar" type="text" placeholder="Search items..">
            <button type="submit" class="searchButton">
                <svg viewBox="0 0 1024 1024">
                    <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
                    </path>
                </svg>
            </button>
            <a href="login.html">Logout</a>
            <a href="profile.html" class="active">Profile</a>
            <a href="index.html" >Home</a>
        </div>
    </header>  

    <br>

    <div id="loginForm">
        <h1> PROFILE </h1>
        <p> Welcome!</p>
        
    </div>
    <div id="userItems">
        <p> Items list will be here </p>
        <table>
            <tr>
                <th>name</th>
                <th>images</th>
                <th>price</th>
                <th>Description</th>
                <th>modify</th>
                <th>delete</th>
            </tr>
            {% for product in products %}
                {% include 'itemApp/itemUser.html' %}
            {% endfor %}
        </table>
    </div>
    
    <br>
    <div id="addItems">
        <p>Adding item will go through here</p>
        <form action="{% url 'add' %}" method="get">
        
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" required/>
            
            <label for="images">images: </label>
            <input type="text" name="images" id="images"/>
            
            <label for="price">price: </label>
            <input type="text" name="price" id="price" required/>
            
            <label for="description">description: </label>
            <input type="text" name="description" id="description" required/>
            
            <label for="comments">comments: </label>
            <input type="text" name="comments" id="comments" required/>
            <br>
            <label for="add">add Item</label>
            <input type="submit" name="addButton" id="add"/>
        </form>
    </div>
    <br>

    <footer>
        <p><b>This Django Project was made by Sammy Pantaleon-Hernandez, Nicolae Rusu, David Tran and Liliane Tran Le</b></p>
    </footer>
</body>
</html>